# Build output
Debug/
Release/
build/
cmake/
.vscode/

# IDE files (STM32CubeIDE)
.settings/
# .cproject
# .project
.mxproject
.clangd
Makefile

# Keil MDK
*.uvguix.*
*.uvoptx
*.uvgui
Listings/
Objects/

# Binary files
*.elf
*.bin
*.hex
*.map
*.d
*.o
*.ld
*.launch

# Backup files
*.bak

CmakeLists.txt
CmakePresets.json
startup_stm32l431xx.s
Drivers/STM32L4xx_HAL_Driver/LICENSE.txt