# Build output
Debug/
Release/
build/

# IDE files (STM32CubeIDE)
.settings/
.cproject
.project

# Keil MDK
*.uvguix.*
*.uvoptx
*.uvgui
Listings/
Objects/

# Binary files
*.elf
*.bin
*.hex
*.map
*.d
*.o
*.ld
*.launch

# Backup files
*.bak